.flex-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: center;
  align-items: center;
  height: 300px;
  width: 935px;
  padding: 0;
  margin: 100;
}

.item {
  background-color: blueviolet;
  padding: 30px;
  margin-left: 50px;
  text-align: center;
  color: orange;
  box-shadow: 20px 20px 10px #a5a5a5;
  max-width: 100%;
  box-sizing: border-box;
}

#HomeTitle {
  color: hotpink;
}

a {
  color: orange;
}

#imageFav {
  color: orange;
}
