@page
@model PrivacyModel
@{
    ViewData["Title"] = "2.1 Creating an Account exemplar";
}
<h1>@ViewData["Title"]</h1>

<p>If you want to use a particular installation of MyBugTracker, first you need to create an account. Ask the administrator responsible for your installation for the URL you should use to access it. If you&rsquo;re test-driving MyBugTracker, you can use one of the installations on.</p>
<p>The process of creating an account is similar to many other websites.</p>
<ol class="arabic">
<li>
<p class="first">On the home page, click the <span class="guilabel">New Account</span> link in the header. Enter your email address, then click the <code class="docutils literal notranslate"><span class="pre">Send</span></code> button.</p>
<div class="admonition note">
<p class="first admonition-title">Note</p>
<p class="last">If the <span class="guilabel">New Account</span> link is not available, this means that the administrator of the installation has disabled self-registration. Speak to the administrator to find out how to get an account.</p>
</div>
</li>
<li>
<p class="first">Within moments, you should receive an email to the address you provided, which contains your login name (generally the same as the email address), and a URL to click to confirm your registration.</p>
</li>
<li>
<p class="first">Once you confirm your registration, MyBugTracker will ask you your real name (optional, but recommended) and ask you to choose a password. Depending on how your MyBugTracker is configured, there may be minimum complexity requirements for the password.</p>
</li>
<li>
<p class="first">Now all you need to do is to click the <span class="guilabel">Log In</span> link in the header or footer, enter your email address and the password you just chose into the login form, and click the <span class="guilabel">Log in</span> button.</p>
</li>
</ol>
<p>You are now logged in. MyBugTracker uses cookies to remember you are logged in, so, unless you have cookies disabled or your IP address changes, you should not have to log in again during your session.</p>
<hr class="docutils" />
<p>This documentation undoubtedly has bugs; if you find some, please file them </a>.</p>